@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transform: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transform: 0.2s;
}

body {
    width: 100%;
}

/* section1 */

#section1 .header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    /* background-color: transparent; */
    background: rgb(68, 68, 68);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#section1 .navbar a
{
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

#section1 .navbar a::after
{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
}


#section1 .navbar a:hover::after
{
    transform: translateY(0);
    opacity: 1;
}

#section1 .search-bar
{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius:6px;
    display: flex;
    align-items: center;
}

#section1 .search-bar input
{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

#section1 .search-bar input::placeholder
{
    color: #e4e4e4;

}

#section1 .search-bar button
{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#section1 .search-bar button i
{
    font-size: 22px;
    color: #e4e4e4;
} 

/* section2 */
#section2 input {
    display: none;
}

#check1:checked ~ .container .photo-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .photo-gallery .category-1 {
    opacity: 1;
    transform: scale(1);
    position: relative;

}

#check2:checked ~ .container .photo-gallery .category-2,
#check2:checked ~ .container .photo-gallery .category-3 {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check3:checked ~ .container .photo-gallery .category-2 {
    opacity: 1;
    transform: scale(1);
    position: relative;

}

#check3:checked ~ .container .photo-gallery .category-1,
#check3:checked ~ .container .photo-gallery .category-3 {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check4:checked ~ .container .photo-gallery .category-3 {
    opacity: 1;
    transform: scale(1);
    position: relative;

}

#check4:checked ~ .container .photo-gallery .category-1,
#check4:checked ~ .container .photo-gallery .category-2 {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

.container {
    width: 100%;
    text-align: center;
}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.pic {
    position: relative;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgray;
    cursor: pointer;
    transition: .5s;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pic::before {
    content: 'PHOTO GALLERY';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: 100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
}

.pic:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}

.pic:hover::after {
    height: 100%;
}

.pic:hover::before {
    margin-top: 0;
    opacity: 1;
}

.top-content {
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

#section2 label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: color .5s;
}

#section2 label:hover {
    color: black;
}

#section2 h3 {
    height: 100%;
    background-color: rgb(221, 221, 221);
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

#section2 h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

#section2 h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 1*200px;
    }

    100% {
        width: 100px;
    }
}

/* section3 */
#section3 {
    display: flex;
    margin-top: 90px;
    padding: 0 35px;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    background: #343F4F;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child {
    margin-left: 0px;
} 

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
}

/* newsletter */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #555555ff;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #ef3636;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
    width: 20%;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #ef3636;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #ef3636;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

#prodetails  {
    display: flex;
    margin-top: 70px;
}

#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/* product details page */

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 20px 0 20px 0;
}

#prodetails .single-pro-details h1 {
    font-size: 30px;
}

#prodetails .single-pro-details h2 {
    font-size: 20px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}


#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background: #ef3636;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}


#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .hoodies {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1 solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}